{% extends 'rick_morty/layout/layout.html' %}


{% block label_page %}Detail{% endblock label_page %}


{% block body %}

  <div class="text-center">
    <h1 class="display-5 fw-bold pt-3 text-primary" >Ricky and Morty - Detail</h1>
    <p class="lead">
      <a class="btn btn-outline-dark btn-lg px-4 gap-3 m-2" href="{% url 'index' %}" role="button">Home</a>
      <a class="btn btn-outline-success btn-lg px-4 gap-3 m-2" href="{% url 'index' %}" role="button">Home</a>
    </p>

    <div class="cover-container d-flex w-50 h-100 p-3 mx-auto flex-column">
      <main class="px-5">
        <ul class="list-group">
          <li class="list-group-item lead p-2"><h1 class ="m-0">{{personaje.name}}</h1></li>
          <li class="list-group-item lead p-2"><img src="{{personaje.image}}"  title="{{personaje.name}}"></li>
          <li class="list-group-item lead p-2">ID: {{personaje.id_self}}</li>
          <li class="list-group-item lead p-2">Status: {{personaje.status}}</li>
          <li class="list-group-item lead p-2">Species: {{personaje.species}}</li>
          <li class="list-group-item lead p-2">Type: {{personaje.type_r}}</li>
          <li class="list-group-item lead p-2">Gender: {{personaje.gender}}</li>
          <li class="list-group-item lead p-2">Origin: {{personaje.origin_name}}</li>
          <li class="list-group-item lead p-2">Location: {{personaje.location_name}}</li>
          <li class="list-group-item lead">Created at: {{personaje.created}}</li>
          {% comment %} !FALTA <li class="list-group-item lead p-2">Episodes: ***</li> {% endcomment %}
        </ul>

  </div>

{% endblock body %}