{% extends 'rick_morty/layout/layout.html' %}


{% block label_page %}List{% endblock label_page %}


{% block body %}
<h1 class="display-5 fw-bold pt-3 text-primary">Ricky Y Morty - Characters</h1>

<a class="btn btn-outline-success btn-lg px-4 gap-3" href="{% url 'index' %}" role="button">Home</a>


<div class="d-flex p-2 flex-wrap div_titulo">
  {% for character in lista %}
  <div class="card m-3" style="width: 18rem;">
    <img src="{{character.image}}" class="card-img-top" alt="character_image">
    <div class="card-body">
      <h5 class="card-title ">{{character.name}}</h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{character.status}}</li>
      <li class="list-group-item">{{character.species}}</li>
      <li class="list-group-item">{{character.location_name}}</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">More</a>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock body %}
